* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "American Typewriter";
}

h1{
    margin-left: 30px;
}

.Calculator{
    display: grid;
    padding: 15px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    max-width: 400px;
    margin-left: 10px;
    border: teal;
}


button{
    display: grid;
    padding: 18px;
    background-color: rgb(49, 112, 184);
    color: white;
    border-radius: 10px;
}

button:hover{
    font-size: 150%;
    color: rgb(22, 247, 217);
}

.answer{
    grid-column: span 3;
    font-weight: bold;
    font-size: 125%;
}
